body {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-light);
}

:root {
  font-size: 16px;
  --primary-dark: #605856;
  --secondary-dark: #274156;
  --primary-light: #fbfcff;
  --secondary-light: #d0ccd0;
  --neutral: #1c6e8c;
}

#loader {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  border: 0.5rem solid black;
  border-bottom-color:  white;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loader-visible {
  opacity: 1 !important;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.please-login {
  font-size: 2.5rem;
  text-align: center;
  margin: 20%;
  text-decoration: none;
}

.please-login:hover {
  text-decoration: underline;
}
