#request-resolve-modal::backdrop {
  background: black;
  opacity: 0.7;
}

#request-resolve-modal {
  background-color: var(--primary-light);
  border: 4px solid var(--neutral);
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  overflow: hidden;
}

#rrm-content {
  font-size: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.request-buttons-container {
  display: flex;
  flex-direction: column;
}
#rrm-content button {
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  height: 3rem;
  transition: background-color 0.3s;
  width: 50%;
}

#rrm-content textarea {
  font-size: 1.5rem;
  flex: 1;
  height: 100%;
  width: 100%;
}

#rrm-content button:hover {
  background-color: var(--secondary-light);
}

#rdbutton-close {
  /*background-color: var();*/
}

#rdbutton-resolve {
  background-color: var(--neutral);
}

#requests-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--neutral);
}

#form-get-requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--primary-light);
}

#form-get-requests > * {
  border: none;
  outline: none;
  background-color: var(--secondary-light);
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0;
  width: 18rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

#form-get-requests > *:hover {
  background-color: #75a6b9;
}

#requests-grid {
  display: flex;
  flex-wrap: wrap;
  /*grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));*/
  /*grid-template-columns: auto 1fr auto;*/
  gap: 2rem;
}

@media (max-width: 672px) {
  #requests-area {
    padding: 0.5rem;
  }

  #requests-grid {
    grid-template-columns: 1fr;
  }
}

.request {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--primary-light);
  font-size: 1.5rem;
  transition: transform 0.3s;
}
.request-field-label{
color: var(--secondary-light);
}
.request:hover {
  transform: scale(1.04);
}

.request button {
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  height: 3rem;
  transition: background-color 0.3s;
}

.request button:hover {
  background-color: var(--secondary-light);
}

.request ul {
  padding: 1rem;
  list-style: none;
  /*word-break: break-word;*/
}

.no-requests {
  font-size: 2.5rem;
  text-align: center;
}

.sample-form-offer {
  text-align: center;
}
.sample-form {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  white-space: pre-wrap;
}

.sample-form input {
  width: 50rem;
  font-size: 2rem;
  height: 5rem;
}

.sample-form-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#srf-submit {
  cursor: pointer;
}

#srf-submit:hover {
  background-color: var(--primary-light);
}

.srf-error-msg {
  color: #b63a2f;
  font-size: 1.5rem;
  transition: opacity 0.3s;
  white-space: pre-wrap;
}
