nav {
  background-color: var(--primary-light);
  padding: 1rem clamp(1rem, 4vw, 6rem);
  flex-wrap: wrap;
  max-height: 100rem;
}

.nav-title {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--neutral);
  transition: transform 0.5s;
}

.nav-title:hover {
  transform: scale(1.1);
}
.nav-buttons {
  display: flex;
  gap: 2rem;
}
.nav-button {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
#nav-bg {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
#nav-sm {
  display: none;
  width: 100%;
  justify-content: space-between;
  gap: 0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
  float: left;
}

.triangle-down {
}

.triangle-up {
  rotate: 180deg;
}
#nav-sm-control {
  display: flex;
  justify-content: space-between;
}
#nav-sm-content {
  transition: max-height 0.5s ease-in-out;

  max-height: 0;
  overflow: hidden;
}

#nav-sm-buttons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#nav-sm-content {
  /*position: absolute;*/
  /*width: 100%;*/
  background-color: var(--secondary-light);
}

@media (max-width: 820px) {
  #nav-bg {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 672px) {
  nav {
    padding: 1rem;
  }
  #nav-bg {
    /*display: none;*/
  }

  #nav-sm {
    display: block;
  }

  .nav-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  #loader {
    position: static;
  }
}

.smNav-button {
  cursor: pointer;
  color: var(--secondary-light);
  width: 10rem;
  background-color: var(--neutral);
  border: none;
  outline: none;
}
.nav-button:hover {
  text-decoration: underline;
}
nav button,
a {
  color: var(--secondary-dark);
  font-size: 1.5rem;
}
